/*#region page*/
body {
  margin: 0;
  color: #434455; /*цвет букаф*/
  background-color: #ffffff; /*цвет фона*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /*font-weight встановлює товщину шрифта.*/
  font-size: 16px;
  line-height: 1.5; /*line-height рівномірне масштабування інтервалу між рядками при зміні розміру тексту, тут множитель */
  letter-spacing: 2%; /*letter-spacing визначає інтервал між символами в межах елемента.*/
}

img {
  display: block; /*убрать нижний отступ у всех изо в проєкте, сделать картинку блоковой*/
  max-width: 100%; /* Зображення буде автоматично підлаштовуватися під ширину батьківського елемента. */
}

.container /*обернуть елементы в блок*/ {
  width: 100%;
  max-width: 1158px; /*задать ширину*/
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  /*сбросить отступы и стили у всех ссылок*/
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2 {
  /*сбросить отступы у всех h1,2 и общие паметры*/
  font-weight: 700;
  text-align: center; /*поставить заголовок по центру*/
  letter-spacing: 0.02em; /*letter-spacing визначає інтервал між символами в межах елемента.*/
  margin: 0;
}

.page-nav {
  display: flex;
  gap: 40px;
}

.titletwo {
  /*сбросить отступы у всех h2*/
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 0;
}

.titlethree {
  /*сбросить отступы у всех h3*/
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em; /*letter-spacing визначає інтервал між символами в межах елемента.*/
  margin: 0;
}

.paragraph {
  /*сбросить отступы у всех p*/
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

/*#endregion*/
/*#region header*/
.page-header .container {
  display: flex;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.colortext {
  color: #2e2f42;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.link_li {
  padding: 24px 0;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
}
.address {
}

.address-menu-item {
  align-items: center;
}

.address-menu-list {
  display: flex;
  gap: 40px;
}

.address-menu-link {
  padding: 24px 0;

  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none; /*убрать подчеркивание*/
}

.address-menu-link:hover {
  color: #404bbf;
}

.address-menu-link:focus {
  color: #404bbf;
}

.address-menu-link:active {
  color: #404bbf;
}

.link:hover {
  /*смена цвета при наведении*/
  color: #404bbf;
}

.link {
  text-decoration: none; /*убрать подчеркивание*/

  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /*line-height рівномірне масштабування інтервалу між рядками при зміні розміру тексту, тут множитель */
  font-weight: 500; /*font-weight встановлює товщину шрифта.*/
}
.link:focus {
  /*смена цвета tab*/
  color: #404bbf;
}

.link:active {
  /*смена при клике*/
  color: #404bbf;
}

/*#endregion*/

/* #region section1 */
.sectionone {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.title {
  text-align: center;
  margin: 0 auto;
  max-width: 496px; /*br можно не задавать если поставить макс ширину будет перенос строки*/
  padding-bottom: 48px;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
}

.button {
  margin: 0 auto; /*можливості центрувати кнопку через властивість margin*/
  display: block; /*display: block; для можливості центрувати кнопку через властивість margin*/
  padding: 16px 32px; /* Задайте необходимые отступы вокруг текста кнопки */
  cursor: pointer; /*для визначення типу курсору на кнопці*/
  border-radius: 4px; /*для визначення заокруглень у кнопки*/
  font-size: 16px;
  min-width: 169px; /*для визначення мінімальної ширини кнопки*/
  height: 56px; /*для визначення висоти кнопки*/
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  letter-spacing: 0.04em; /*letter-spacing визначає інтервал між символами в межах елемента.*/
  line-height: 1.5; /*line-height рівномірне масштабування інтервалу між рядками при зміні розміру тексту, тут множитель */
  font-weight: 500; /*font-weight встановлює товщину шрифта.*/
  border: none;
}

.button:hover {
  /*смена цвета при наведении*/
  background-color: #404bbf;
}

.button:focus {
  /*смена цвета tab*/
  background-color: #404bbf;
}

/*#endregion*/
/* #region section2 */
.sectiontwo {
  padding: 120px 0;
}

.sectiontwo .page-nav {
  gap: 24px;
}

.sectiontwo .titlethree {
  margin-bottom: 8px;
}

.menu-item-sectiontwo {
  width: calc((100% - 72px) / 4);
}

/*#endregion*/

/* #region section3 */

.sectionthree {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.sectionthree .titletwo {
  margin-bottom: 72px;
}

.sectionthree img {
  margin: 0 auto;
  width: 100%;
}

.liclass img {
  width: 100%;
}

.sectionthree .page-nav {
  gap: 24px;
}

.containerworker {
  padding: 32px 0;
}

.sectionthree .titlethree {
  margin-bottom: 8px;
  text-align: center;
}

.sectionthree .paragraph {
  text-align: center;
}

.liclass {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
/* .sectionthree .liclass:last-child {
  margin-right: 0;  У последнего изображения нет отступа справа 
} */
/*#endregion*/
/* #region section4 */
.sectionfour .page-nav {
  flex-wrap: wrap;
  justify-content: center; /* Центрирование по горизонтали */
  column-gap: 24px;
  row-gap: 48px;
}
.border {
  width: calc((100% - 48px) / 3);
}

.containerapp {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.sectionfour {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sectionfour .titlethree {
  margin-bottom: 8px;
}

.sectionfour .titletwo {
  margin-bottom: 72px;
}
/*#endregion*/

/*#region footer*/
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .colortext {
  color: #f4f4fd;
}

.footer .paragraph {
  width: 264px;
  color: #f4f4fd;
}
/*#endregion*/
