/*#region page*/
body {
  color: #434455; /*цвет букаф*/
  background-color: #ffffff; /*цвет фона*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /*font-weight встановлює товщину шрифта.*/
  font-size: 16px;
  line-height: 1.5; /*line-height рівномірне масштабування інтервалу між рядками при зміні розміру тексту, тут множитель */
  letter-spacing: 2%; /*letter-spacing визначає інтервал між символами в межах елемента.*/
}
h1,
h2 {
  font-weight: 700;
  text-align: center; /*поставить заголовок по центру*/
  letter-spacing: 0.02em; /*letter-spacing визначає інтервал між символами в межах елемента.*/
}
.title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
}
.titletwo {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.titlethree {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em; /*letter-spacing визначає інтервал між символами в межах елемента.*/
}
.paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.liclass{
  background-color: #FFFFFF;
}

/*#endregion*/
/*#region header*/
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
}

.colortext {
  color: #2e2f42;
}

.page-nav {
  list-style: none; /*отключить стили*/
}
.link {
  text-decoration: none; /*отключить подчеркивание*/
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.02em; /*letter-spacing визначає інтервал між символами в межах елемента.*/
  line-height: 1.5; /*line-height рівномірне масштабування інтервалу між рядками при зміні розміру тексту, тут множитель */
  font-weight: 500; /*font-weight встановлює товщину шрифта.*/
}
.link:hover {
  /*смена цвета при наведении*/
  color: #404bbf;
}
.link:focus {
  /*смена цвета tab*/
  color: #404bbf;
}
.link:active {
  /*смена при клике*/
  color: #404bbf;
}
.address{
font-style: normal;
  /*устанавливает курсив либо наклонное написание текста*/
}
address .link {
  color: #434455;
  font-weight: 400; /*font-weight встановлює товщину шрифта.*/
}
.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  letter-spacing: 0.04em;
  /*letter-spacing визначає інтервал між символами в межах елемента.*/
  line-height: 1.5;
  /*line-height рівномірне масштабування інтервалу між рядками при зміні розміру тексту, тут множитель */
  font-weight: 500;
  cursor: pointer;
  /*font-weight встановлює товщину шрифта.*/
}
.button:hover {
  /*смена цвета при наведении*/
  background-color: #404bbf;
}
.button:focus {
  /*смена цвета tab*/
  background-color: #404BBF;
}
.order_service {
  background-color: #2e2f42;
}
/*#endregion*/

.section-our-team{
  background-color: #F4F4FD;
}


/*#region footer*/
.footer .colortext {
  color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer .paragraph {   
  color: #f4f4fd;
}
/*#endregion*/
